.startpage {
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-top: 280px;
    margin-bottom: 100px;
    .left {
        display: inline-block;
        width: 69%;
        .nsotd {
            display: inline-block;
            width: 100%;
            padding: 5px;
            background: #f0f0f0;
            h2 {
                font-size: 20px;
                display: inline-block;
                padding: 10px;
                color: #3c3c3c;
            }
            p {
                font-size: 17px;
                display: inline-block;
                padding: 10px;
                color: #3c3c3c;
                line-height: 25px;
            }
            img {
                float: right;
                width: 150px;
                margin-top: 5px;
                margin-right: 5px;
            }
            a {
                font-size: 15px;
                font-weight: bold;
                margin-left: 10px;
                padding-top: 15px;
            }
        }

        .nsotd_1 {
            display: inline-block;
            width: 100%;
            height: 250px;
            padding: 5px;
            h2 {
                font-size: 20px;
                display: inline-block;
                padding: 10px;
                color: #3c3c3c;
            }
            p {
                font-size: 17px;
                line-height: 25px;
                display: inline-block;
                padding: 10px;
                color: #3c3c3c;
            }
            img {
                float: left;
                width: 250px;
                margin-top: 5px;
                margin-right: 5px;
            }
            a {
                font-size: 15px;
                font-weight: bold;
                margin-left: 10px;
                padding-top: 15px;
            }
        }

        .wotm {
            display: block;
            width: 100%;
            height: 150px;
            margin-top: 10px;
            padding: 5px;
            background: #f0f0f0;
            img {
                display: inline-block;
                float: left;
                height: 100px;
                margin-right: 20px;
            }

            h2 {
                font-size: 20px;
                display: block;
                padding: 10px;
                color: #3c3c3c;
            }

            h3 {
                font-size: 17px;
                display: inline-block;
                margin-top: 15px;
            }
            p {
                font-size: 14px;
                margin-top: 10px;
                margin-left: 20px;
                padding-left: 20px;
                color: #3c3c3c;
            }
        }
    }

    .right {
        display: block;
        float: right;
        width: 29%;
        margin-left: 5px;
        .advertise {
            display: block;
            width: 100%;
            padding-bottom: 5px;
            background: #4f91c6;
            p {
                padding: 3px;
                text-align: center;
                color: white;
            }
            img {
                display: block;
                width: 98%;
                margin: 0 auto;
            }
        }
        .bleets {
            display: block;
            width: 100%;
            margin-top: 10px;
            background: #f0f0f0;
            img {
                display: inline-block;
                float: left;
                padding: 5px;
            }
            h2 {
                font-size: 17px;
                display: inline-block;
                margin-top: 16px;
                margin-bottom: 25px;
                margin-left: 15px;
            }

            .bleet {
                font-size: 15px;
                display: block;
                width: 100%;
                margin: 0 auto;
                padding: 10px;
                span {
                    color: #4c98ae;
                }
                p {
                    font-size: 13px;
                    line-height: 17px;
                }
            }
        }
    }
    .featured {
        display: block;
        width: 100%;
        margin-top: 10px;
        text-align: center;
        background: #f0f0f0;
        h2 {
            font-size: 20px;
            display: block;
            margin-bottom: 10px;
            padding-top: 15px;
            padding-left: 15px;
            text-align: left;
            color: #3c3c3c;
        }
        img {
            display: inline-block;
            width: 19%;
            margin: 0;
        }
    }

    .link {
        width: 100%;
        height: 115px;
        margin-bottom: 10px;
        padding: 5px;
        padding-right: 10px;
        background: #f0f0f0;

        .link:hover {
            border: 3px solid #488bc2;
        }

        img {
            display: inline-block;
            float: left;
            height: 99%;
            margin-right: 20px;
        }
        h2 {
            font-size: 18px;
            margin-top: 10px;
        }
        p {
            font-size: 15px;
            margin-top: 10px;
            color: #3c3c3c;
        }
    }
}